.members{
    width: 100%;
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members-title {
    margin-bottom: 20px;
    color: #026f42;
}

.members-table {
    width: 100%;
    border: 1px solid #097f4e;
    border-collapse: collapse;
    background-color: #fff;
}

.members-table-header{
    border: 1px solid #097f4e;
    text-align: left;
}

.members-table-header th {
    padding: 10px;
    background-color: #097f4e;
    color: #fff;
}

.members-table-body-row:nth-child(even){background-color: #d1cccc6a}

.members-table-body tr:hover {
    background-color: #03d47d; 
    color: #fff;
    transition: all 0.1s ease-in-out;  
    cursor: pointer;
}